<% layout('./layouts/boilerPlate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<script>
   const  mapToken = "<%-process.env.MAPBOX_TOKEN%>";
   const camp = <%-JSON.stringify(findCamp)%>;
</script>
<style>
    #card{
        overflow: hidden;
    }
</style>
<div class="row">
    <div class="col-8">
        <div class="card mb-3 rounded-4">
                
                   <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <%  findCamp.Images.forEach((img,i)=> { %>
                                <div class="carousel-item <%= i === 0 ?'active':'' %>">
                                    <img src="<%=img.url %>" class="img-fluid d-block w-100 h-100" alt="camp images">
                                </div>
                            <% })%>
                        </div>
                        <% if (findCamp.Images.length> 1) { %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                        
                    </div>
                
                <div class="card-body">
                    <h5 class="card-title"><%= findCamp.Name %></h5>
                    <p class="card-text"><%= findCamp.Description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= findCamp.Location %></li>
                    <li class="list-group-item">$<%= findCamp.Price %>/night</li>
                    <li class="list-group-item"> Owner: <%= findCamp.author.username.toUpperCase() %></li>
                </ul>
                <% if (currentUser && currentUser.id === findCamp.author.id) { %>
                     <div id="checker" class="card-body">
                    <a id="edit"class="card-link btn btn-info " href="/campground/<%-findCamp._id%>/edit"> Edit Campground</a>
                    <form class="d-inline"action="/campground/<%-findCamp._id%>?_method=DELETE" method="post" >
                        <button id="delete"class="card-link btn btn-danger ">Delete Campground</button>
                    </form>
                 </div>
                <% } %>
               
        </div>
        <% if (currentUser) { %>
            <h2>ADD REVIEW</h2>
            <form class="needs-validation mb-3" action="/campground/<%=findCamp._id %>/reviews" method="post" novalidate>
                <div class="mb-3">
                   <fieldset class="starability-basic">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="Rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="Rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="Rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="Rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="Rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="Rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>         
                </div>
                <div class="mb-3">
                     <label class="fw-bold" for="description" class="form-label">Review</label>
                        <textarea class="form-control" id="description" name="Body" required></textarea>
                        <div class="invalid-feedback">
                            Review cannot be empty
                        </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <% } %>
         
    </div>
    <div class="col-4  ">
        <div class="row  align-items-center">
             <div id='map' style='width: 400px; height: 300px;'></div>
            <div class="col-md-12 ">
                    <% if (reviews.length === 0) { %>   
                        <div class="card border border-light text-center">
                            <p class="fs-3">NO REVIEWS</p>
                        </div>
                    <% } else { %>
                    <% for( let rev of  reviews) { %>
                        <div class="card border mb-2 rounded-4">
                            <div>
                                 <p class="text-start mx-2  card-title ">By <%= rev.author.username %></p>
                            </div>
                            <div class="d-inline mx-2">
                            <p id="rating" class="starability-result fs-6 " data-rating="<%= rev.Rating %>"></p>
                            </div>
                            <div class="mx-2">
                               Review:  <%= rev.Body %>
                            </div>
                            <div>
                                 <div class="row ms-5">
                                <div class="col-md-4  ">
                                    <button class="btn btn-light">
                                        <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                    </button>
                                </div>
                                 <div class="col-md-4  ">
                                    <button class="btn btn-light">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-md-4   ">
                                    
                                       <form class="d-inline align-self-end" action="/campground/<%-findCamp._id%>/reviews/<%-rev.id%>?_method=DELETE" method="post" >
                                        <button class="btn btn-light ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                        </button>                   
                                     </form>
                                    
                                </div>  
                            </div>
                            </div>
                        </div>
                    <% } %>
                 <% } %>
                
            </div>
         </div>
        
    </div>

</div>

<script src="/javascripts/mapDisplay.js"></script>

<!-- <style>
    #icon{
        stroke: none;
        stroke-opacity: 0;
    }
    
</style> -->

<!-- <script>
    const edit = document.querySelector('#edit')
    const checket = document.querySelector('#checker')
    console.dir(checket)
    checket.addEventListener('onmouseover', showTip)
    if(edit.classList.contains('disabled'))
    {
        
        
    }

function showTip()
{
    console.log('here')

}
    
